@import 'bourbon/bourbon';
@import 'neat/neat';

$ltblue: #b1dbf5;
$deepblue: #4fa6d6;
$datecolor: #A2BAC9;
$timecolor: #55b3e5;
$blue: #72c1ea;


body{
  font-family: 'Roboto', sans-serif;
}

.container {
  @include outer-container;
  margin-top: 60px;
}

.box-wrapper {
  overflow: auto;
  padding-top: 5px;

  header {
    @include span-columns(2);
    position: relative;
    height: 100%;
  }

  &:nth-child(even) {
    .textWrap {
      background: $deepblue;
    }

    .timeCone {
      display: block;
      height: 0;
      width: 0;
      top: 8px;
      left: 24px;
      border: 8px solid transparent;
      position: absolute;
      border-right-color: $deepblue;
    }

    .timelog {
      color: $deepblue;
    }
  }

  &:nth-child(odd) {
    .textWrap {
      background: $blue;
    }

    .timeCone {
      display: block;
      height: 0;
      width: 0;
      top: 8px;
      left: 24px;
      border: 8px solid transparent;
      position: absolute;
      border-right-color: $blue;
    }

    .hour {
      color: $blue;
    }
  }
}

.postBox {
  @include span-columns(10);
  position: relative;
  height: 100%;
  padding: 0 0px 15px 40px;
  border-left: 8px solid $ltblue;
  margin: 0 0 0 0px;
  float: left;
  display: block;
}

.textWrap{
  padding: 25px;
  border-radius: 5px;
}

.titleWrap {
  height: 100%;

  .postTitle {
    font-size: 22px;
    color: white;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: left;
  }

}
p {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.icons {
  position: absolute;
  right: -51px;
  top: -6px;
  z-index: 10;
}

.inner {
  color: $deepblue;
}

.outer {
  color: $ltblue;
  font-size: 50px;
  top: -3.5px;
}

.stamp {
  float: right;
}

.logBox p {
  color: $datecolor;
  font-size: 10.5px;
  margin: 0 5px;
  text-align: right;
}

.timelog {
  color: $deepblue;
  font-size: 42px;
  font-weight: 300;
  margin: 0;
  text-align: right;
}







/******************
Media
******************/
@media (max-width: 980px) {
.container {
  max-width: 980px;

  header {
    @include span-columns(11.5);
    position: relative;
  }

  .box-wrapper{

  &:nth-child(even) {

    .timeCone {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $deepblue transparent;
      position: absolute;
      left: 64px;
      top: -10px;
    }
  }

  &:nth-child(odd) {

    .timeCone {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $blue transparent;
      position: absolute;
      left: 64px;
      top: -10px;

    }
  }
}

  .postBox {
    clear: both;
    @include span-columns(11.25);
    border-left: none;
  }

  .logBox {
    float: left;
    margin: 0 25px 10px 40px;
  }


  .logBox p {
    float: left;
  }

  .timelog {
    font-size: 28px;
  }
  .icons {
    position: absolute;
    top: 4px;
    right: 17px;
  }

}
}
